a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.navbar {
  background-color:#00695c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  padding: 30px 0px;
  width: 100%;
}

.logo {
  color: white;
  font-size: 30px;
   line-height: 80px;
  padding: 0 50px;
  font-weight: bold;

}

.nav-links {
  
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.nav-links li {
  color: white;
  font-size: 20px;
  padding: 0 5px;
  /* position: relative; */
  cursor: pointer;
  text-transform: capitalize;
}

.nav-links li a {
  font-size: 1.3rem;
  font-weight: 600;
  color: white;
  transition: 0.3s ease-in-out;
}

.nav-links li a:hover,
.nav-links button:hover
 {
  color: #17cf97;
}

.mobile-menu-icon {
  display: none;
}

.nav-links button {
  color: white;
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  text-decoration: none;
  font-size: 20px;
  background: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .logo {
    display: flex;
    position: absolute;
    top: 0px;
    left: 35px;
  }
  .nav-links {
    display: none;
  }
  .nav-links-mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 90px;
    right: 0;
    width: 300px;
    height: 100vh;
    padding: 40px 0 0 10px;
    list-style: none;
    box-shadow: rgba(50, 50, 93, 0.23) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transition: all 0.5s ease-in-out;
    background-color:#00695c;
    color: white;
    z-index: 1000;
  }
  ul li {
    /* padding: 32px;
    width: 100%;
    transition: all 0.5s ease-in-out;
    text-align: center; */
    margin-bottom: 25px;
  }
  
  .mobile-menu-icon{
    font-size: 24px;
    cursor: pointer;
    display: block;
    border: 0;
  }
  button{
    font-size: 1.5rem;
    cursor: pointer;
  }
  .nav-links-mobile li {
  color: white;
  font-size: 20px;
  padding: 0 5px;
  /* position: relative; */
  cursor: pointer;
  text-transform: capitalize;
}


}
