.main-container{
 height: 600px;
 padding: 20px;
 margin-left: 40px;
 margin-right: 40px;
 display: flex;
 flex-direction: row-reverse;
 justify-content: space-between;
 align-items: center;
 gap: 40px;  
}

.main-container img{
   width: 50%;
   height: 500px;
   object-fit: cover;
   border-radius: 5px;
}

.main-text{
   width: 80%;
}
.main-text h5{
color: #ee1c47;
font-size: 16px;
text-transform: capitalize;
font-weight: 500;
}
.main-text h1{
color: #000;
font-size: 65px;
text-transform: capitalize;
line-height: 1.1;
font-weight: 600;
margin: 6px 0 10px;
}

.main-text p{
color: #333c56;
font-size: 20px;
font-style: italic;
margin-bottom: 20px;
}
.main-text button{
   padding: 1em 2.1em 1.1em;
   border-radius: 4px;
   margin-right: 8px;
   border: none;
   background-color: #e2e273;
   color: #000000;
   font-weight: 800;
   font-size: 0.85em;
   text-transform: uppercase;
   text-align: center;
   box-shadow: 0em -0.2rem 0em #e2e273;
   transition: color 3s ease-in-out;
}

.main-text button:hover{
   background-color: transparent;
   color: #8b4513;
   border: 3px solid #e2e273;
   cursor: pointer;
}

@media screen and (max-width: 884px){
   .main-container{
      margin-top: 10px;
      flex-direction: column;
   }
   .main-text{
      width: 100%;
      text-align: center;
   }
   .main-text h1{
      font-size: 3rem;
   }
}

@media screen and (max-width: 678px){
    .main-text h1{
      font-size: 2rem;
   }

}